.alias{
    display: inline-block;
    border: 1px solid #999999;
    border-radius:0.7rem;
    background-color:#eeeeee;
    -webkit-user-select: all; /* Covers Blink-land & Firefox (yup) */
    user-select: all; /* Someday */
}

.aliasstijl{
    column-count: 3;
}

#lijst{
    margin-left:5px;
    margin-right:5px;
}